<script lang="ts" setup>
import VDrawers from "../vDrawers.vue";
import {reactive, ref} from "vue";
import apiClient from "../../services/api.ts";
import url from "../../services/url.ts";
const emit = defineEmits(['create'])
defineProps({
  open:{
    type:Boolean,
    default: false
  },
})
interface Form {
  name:String
  email:String
  password:String
}

const form:Form = reactive({
  name:'',
  email:'',
  password:''
})

const errors:any = ref(null)

const createNewUser = async () => {
  try {
    errors.value = null
    const {data} = await apiClient.post(url.user, form);
    console.log(data)
    // createUser.value = false
    form.name = ''
    form.email = ''
    form.password = ''
    emit('create')
    // await getUsers()
  } catch (e) {
    errors.value = e.response.data
  }
}
</script>


<template>
  <v-drawers
      :open="open"
      @close="$emit('close')"
      title="Create user">
    <div v-if="errors && errors.message" class="mb-[20px]">
      <div class="rounded-md bg-red-50 p-4">
        <div class="ml-3">
          <h3 class="text-sm font-medium text-red-800">{{ errors.message }}</h3>
        </div>
      </div>
    </div>
    <div class="mb-[20px]">
      <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
      <div class="mt-2">
        <input v-model="form.name" type="text" name="name" id="name"
               class="block w-full rounded-md border-0 py-1.5  shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
               :class="errors && errors.errors.name? 'ring-red-300 text-red-900 placeholder:text-red-300 focus:ring-red-500':'ring-gray-300 text-gray-900 placeholder:text-gray-400 focus:ring-indigo-600'"
               placeholder="Name"
        />
        <p v-if="errors && errors.errors.name" class="mt-2 text-xs text-red-600">
          {{errors.errors.name[0]}}
        </p>
      </div>
    </div>
    <div class="mb-[20px]">
      <label for="email" class="block text-sm font-medium leading-6 text-gray-900">E-mail</label>
      <div class="mt-2">
        <input v-model="form.email" type="email" name="email" id="email"
               class="block w-full rounded-md border-0 py-1.5  shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
               :class="errors && errors.errors.email? 'ring-red-300 text-red-900 placeholder:text-red-300 focus:ring-red-500':'ring-gray-300 text-gray-900 placeholder:text-gray-400 focus:ring-indigo-600'"
               placeholder="E-mail" />
      </div>
      <p v-if="errors && errors.errors.email" class="mt-2 text-xs text-red-600">
        {{errors.errors.email[0]}}
      </p>

    </div>
    <div class="mb-[20px]">
      <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
      <div class="mt-2">
        <input v-model="form.password" type="password" name="password" id="password"
               class="block w-full rounded-md border-0 py-1.5  shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
               :class="errors && errors.errors.password? 'ring-red-300 text-red-900 placeholder:text-red-300 focus:ring-red-500':'ring-gray-300 text-gray-900 placeholder:text-gray-400 focus:ring-indigo-600'"
               placeholder="Password" />
      </div>
      <p v-if="errors && errors.errors.password" class="mt-2 text-xs text-red-600">
        {{errors.errors.password[0]}}
      </p>

    </div>
    <div>
      <button @click="createNewUser" type="submit" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create User</button>
    </div>
  </v-drawers>
</template>
