<script lang="ts" setup>
import VDrawers from "../vDrawers.vue";
import {Ref, ref} from "vue";
import apiClient from "../../services/api.ts";
import url from "../../services/url.ts";
import {UsersDetails} from "../../../@types/userDetails.ts";
const props = defineProps({
  open:{
    type:Boolean,
    default: false
  },
  userId:{
    type:Number,
    required:true
  }
})
const user:Ref<null| UsersDetails> = ref(null)
const getUser = async () =>{
  try {
    const {data} = await apiClient.get(`${url.user}/${props.userId}`);
    user.value = data
  } catch (e) {
    console.log(e)
  }
}
getUser()

</script>

<template>
  <v-drawers
      :open="open"
      @close="$emit('close')"
      title="User details"
  >
    <div v-if="user">
      <p class="text-lg">
        <strong class="capitalize"> Id: </strong> {{user.id}}
      </p>
      <p class="text-lg">
        <strong class="capitalize"> Name: </strong> {{user.name || '-'}}
      </p>
      <p class="text-lg">
        <strong class="capitalize"> E-mail: </strong> {{user.email}}
      </p>
      <p class="text-lg">
        <strong class="capitalize"> Created: </strong> {{user.created_at}}
      </p>
      <div v-if="user.tasks && user.tasks.length > 0">
        <h1 class="text-2xl font-bold mt-10 mb-5">Tasks</h1>
        <ul>
          <li v-for="(item,index) in user.tasks" :key="index" class="mb-[10px] pb-[10px] border-b-black-500 border-b-2">
            <strong class="capitalize">id:</strong> {{item.id}}<br>
            <strong class="capitalize">name:</strong> {{item.title}}<br>
            <strong class="capitalize">description:</strong> {{item.description}}<br>
            <strong class="capitalize">created_at :</strong> {{item.created_at}}
          </li>
        </ul>
      </div>

    </div>
  </v-drawers>
</template>
