<script lang="ts" setup>
import VDrawers from "../vDrawers.vue";
import {reactive, Ref, ref} from "vue";
import apiClient from "../../services/api.ts";
import url from "../../services/url.ts";
import {Users} from "../../../@types/user.ts";
const emit = defineEmits(['create'])
defineProps({
  open:{
    type:Boolean,
    default: false
  },
})
interface Form {
  title:String
  description:String
  user_id:Number
}

const users:Ref<Users[]> = ref([])

const form:Form = reactive({
  title:'',
  description:'',
  user_id:0
})

const errors:any = ref(null)

const createNewTask = async () => {
  try {
    errors.value = null
    const {data} = await apiClient.post(url.tasks, form);
    console.log(data)
    // createUser.value = false
    form.title = ''
    form.description = ''
    form.user_id = 0
    emit('create')
    // await getUsers()
  } catch (e) {
    errors.value = e.response.data
  }
}

const getUsers = async () => {
  try {
    const {data} = await apiClient.get(url.user);
    users.value = data
  } catch (e) {
    console.log(e)
  }
}
getUsers()


</script>


<template>
  <v-drawers
      :open="open"
      @close="$emit('close')"
      title="Create Task">
    <div v-if="errors && errors.message" class="mb-[20px]">
      <div class="rounded-md bg-red-50 p-4">
        <div class="ml-3">
          <h3 class="text-sm font-medium text-red-800">{{ errors.message }}</h3>
        </div>
      </div>
    </div>
    <div class="mb-[20px]">
      <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Title</label>
      <div class="mt-2">
        <input v-model="form.title" type="text" name="title" id="title"
               class="block w-full rounded-md border-0 py-1.5  shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
               :class="errors && errors.errors.title? 'ring-red-300 text-red-900 placeholder:text-red-300 focus:ring-red-500':'ring-gray-300 text-gray-900 placeholder:text-gray-400 focus:ring-indigo-600'"
               placeholder="Title"
        />
        <p v-if="errors && errors.errors.title" class="mt-2 text-xs text-red-600">
          {{errors.errors.title[0]}}
        </p>
      </div>
    </div>
    <div class="mb-[20px]">
      <label for="description" class="block text-sm font-medium leading-6 text-gray-900">Description</label>
      <div class="mt-2">
        <textarea v-model="form.description" type="text" name="description" id="description"
               class="block w-full rounded-md border-0 py-1.5  shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
               :class="errors && errors.errors.description? 'ring-red-300 text-red-900 placeholder:text-red-300 focus:ring-red-500':'ring-gray-300 text-gray-900 placeholder:text-gray-400 focus:ring-indigo-600'"
                  placeholder="Description">{{form.description}}</textarea>
      </div>
      <p v-if="errors && errors.errors.description" class="mt-2 text-xs text-red-600">
        {{errors.errors.description[0]}}
      </p>

    </div>
    <div class="mb-[20px]">
      <fieldset>
        <legend class="text-base font-semibold leading-6 text-gray-900">Users</legend>
        <div class="mt-4 divide-y divide-gray-200 border-b border-t border-gray-200">
          <div v-for="(user, index) in users" :key="index" class="relative flex items-start py-4">
            <div class="min-w-0 flex-1 text-sm leading-6">
              <label :for="`person-${user.id}`" class="select-none font-medium text-gray-900">{{ user.name }}</label>
            </div>
            <div class="ml-3 flex h-6 items-center">
              <input
                  :id="`person-${user.id}`"
                  :name="`person-${user.id}`"
                  :checked="form.user_id === user.id"
                  @change="form.user_id = user.id"
                  type="radio" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
            </div>
          </div>
        </div>
      </fieldset>

      <p v-if="errors && errors.errors.user_id" class="mt-2 text-xs text-red-600">
        {{errors.errors.user_id[0]}}
      </p>
    </div>
    <div>
      <button @click="createNewTask" type="submit" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create Task</button>
    </div>
  </v-drawers>
</template>
