<script lang="ts" setup>
import VDrawers from "../vDrawers.vue";
import { ref} from "vue";
import apiClient from "../../services/api.ts";
import url from "../../services/url.ts";
const props = defineProps({
  open:{
    type:Boolean,
    default: false
  },
  taskId:{
    type:Number,
    required:true
  }
})
const task = ref(null)
const getTask = async () =>{
  try {
    const {data} = await apiClient.get(`${url.tasks}/${props.taskId}`);
    task.value = data
  } catch (e) {
    console.log(e)
  }
}
getTask()

</script>

<template>
  <v-drawers
      :open="open"
      @close="$emit('close')"
      title="Tasks details"
  >
    <div v-if="task">
      <p class="text-lg">
        <strong class="capitalize"> Id: </strong> {{task.id}}
      </p>
      <p class="text-lg">
        <strong class="capitalize"> User name: </strong> {{task.user.name }}
      </p>
      <p class="text-lg">
        <strong class="capitalize"> title: </strong> {{task.title}}
      </p>
      <p class="text-lg">
        <strong class="capitalize"> description: </strong> {{task.description}}
      </p>
      <p class="text-lg">
        <strong class="capitalize"> status: </strong> {{task.status}}
      </p>
      <p class="text-lg">
        <strong class="capitalize"> Created: </strong> {{task.created_at}}
      </p>
<!--      <div v-if="user.tasks && user.tasks.length > 0">-->
<!--        <h1 class="text-2xl font-bold mt-10 mb-5">Tasks</h1>-->
<!--        <ul>-->
<!--          <li v-for="(item,index) in user.tasks" :key="index" class="mb-[10px] pb-[10px] border-b-black-500 border-b-2">-->
<!--            <strong class="capitalize">id:</strong> {{item.id}}<br>-->
<!--            <strong class="capitalize">name:</strong> {{item.title}}<br>-->
<!--            <strong class="capitalize">description:</strong> {{item.description}}<br>-->
<!--            <strong class="capitalize">created_at :</strong> {{item.created_at}}-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->

    </div>
  </v-drawers>
</template>
