<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Home'
});
</script>

<template>
  <div>
    <h1>Home</h1>
    <p>Welcome to the Home page</p>
  </div>
</template>

