<script lang="ts" setup>
import {ref, Ref} from "vue";
import VTable from "../components/vTable.vue";
import VConfirm from "../components/vConfirm.vue";
import VShow from "../components/tasks/vShow.vue";
import VCreate from "../components/tasks/vCreate.vue";
import VEdit from "../components/tasks/vEdit.vue";
import url from "../services/url.ts";
import apiClient from "../services/api.ts";
import {TableKay} from "../../@types/tableKay.ts";
import {Tasks} from "../../@types/tasks.ts";

const tableKay:TableKay[] = [
  {
    text:'id',
    key:'id',
    type:'text'
  },
  {
    text:'user',
    key:'user.name',
    type:'user.name'
  },
  {
    text:'title',
    key:'title',
    type:'text'
  },
  {
    text:'description',
    key:'description',
    type:'text'
  },
  {
    text:'status',
    key:'status',
    type:'text'
  },
  {
    text:'created',
    key:'created_at',
    type:'date'
  },
]

const tasks:Ref<Tasks[]> = ref([])
const createTask:Ref<Boolean> = ref(false)
const editTask:Ref<null|Number> = ref(null)
const taskDetails:Ref<null|Number> = ref(null)
const taskDelete:Ref<null|Number> = ref(null)

const getTasks = async () => {
  try {
    const {data} = await apiClient.get(url.tasks);
    tasks.value = data
  } catch (e) {
    console.log(e)
  }
}

const deleteItem = async () =>{
  try {
    const {data} = await apiClient.delete(`${url.tasks}/${taskDelete.value}`);
    const findIndex = tasks.value.findIndex(i => i.id === taskDelete.value)
    tasks.value.splice(findIndex,1)
    taskDelete.value = null
  } catch (e) {
    console.log(e)
  }
}

getTasks()

const createNewTask = async ()=>{
  await getTasks()
  createTask.value = false
}
const editTaskItem =  async () =>{
  await getTasks()
  editTask.value = null
}
</script>

<template>
  <div class="mt-5">
    <v-table
        title="Tasks"
        desc="A list of all the tasks."
        add-new="#"
        :table-kay="tableKay"
        :list="tasks"
        @open="(id:number) => taskDetails = id"
        @delete="(id:number) => taskDelete = id"
        @edit="(id:number) => editTask = id"
        @create="createTask = true"
    />
    <v-confirm
        title="Delete task?"
        btn="Delete"
        :open="taskDelete !== null"
        @close="taskDelete = null"
        @ok="deleteItem"
    />

    <v-show
        v-if="taskDetails !== null"
        :open="taskDetails !== null"
        :task-id="taskDetails"
        @close="taskDetails = null"
    />

    <v-create
        :open="createTask"
        @close="createTask = false"
        @create="createNewTask"
    />

    <v-edit
        v-if="editTask !== null"
        :open="editTask !== null"
        :task-id="editTask"
        @close="editTask = null"
        @edit="editTaskItem"
    />

  </div>
</template>

