<script lang="ts" setup>
import { Ref, ref} from "vue";
import VTable from "../components/vTable.vue";
import VConfirm from "../components/vConfirm.vue";
import VCreate from "../components/user/vCreate.vue";
import VEdit from "../components/user/vEdit.vue";
import url from "../services/url.ts";
import apiClient from "../services/api.ts";
import VShow from "../components/user/vShow.vue";
import {TableKay} from "../../@types/tableKay.ts";
import {Users} from "../../@types/user.ts";


const tableKay: TableKay[] = [
  {
    text: 'id',
    key: 'id',
    type: 'text'
  },
  {
    text: 'name',
    key: 'name',
    type: 'text'
  },
  {
    text: 'email',
    key: 'email',
    type: 'text'
  },
  {
    text: 'created',
    key: 'created_at',
    type: 'date'
  },
]

const users: Ref<Users[]> = ref([])
const createUser:Ref<Boolean> = ref(false)
const editUser:Ref<null|Number> = ref(null)
const userDetails:Ref<null|Number> = ref(null)
const userDelete:Ref<null|Number> = ref(null)

const getUsers = async () => {
  try {
    const {data} = await apiClient.get(url.user);
    users.value = data
  } catch (e) {
    console.log(e)
  }
}
getUsers()
const openItem = async (id:number) =>{
  try {
    const {data} = await apiClient.get(`${url.user}/${id}`);
    userDetails.value = data
  } catch (e) {
    console.log(e)
  }
}
const deleteItem = async () =>{
  try {
    const {data} = await apiClient.delete(`${url.user}/${userDelete.value}`);
    const findIndex = users.value.findIndex(i => i.id === userDelete.value)
    users.value.splice(findIndex,1)
    userDelete.value = null
  } catch (e) {
    console.log(e)
  }
}

const createNewUser = async ()=>{
  await getUsers()
  createUser.value = false
}

const editUserItem =  async () =>{
  await getUsers()
  editUser.value = null
}

</script>

<template>
  <div class="mt-5">
    <v-table
        title="Users"
        desc="A list of all the users in your account including their name, title, email and role."
        add-new="#"
        :table-kay="tableKay"
        :list="users"
        @open="(id:number) => userDetails = id"
        @delete="(id:number) => userDelete = id"
        @edit="(id:number) => editUser = id"
        @create="createUser = true"
    />
    <v-confirm
      title="Delete user?"
      btn="Delete"
      :open="userDelete !== null"
      @close="userDelete = null"
      @ok="deleteItem"
    />
    <v-show v-if="userDetails !== null"
            :open="userDetails !== null"
            @close="userDetails = null"
            :user-id="userDetails"
    />

    <v-create
        :open="createUser"
        @close="createUser = false"
        @create="createNewUser"
    />
    <v-edit
        v-if="editUser !== null"
        :open="editUser !== null"
        :user-id="editUser"
        @close="editUser = null"
        @edit="editUserItem"
    />
  </div>
</template>

