<script setup>
defineProps({
  title:{
    type:String,
    default:''
  },
  desc:{
    type:String,
    default:''
  },
  addNew:{
    type:String,
    default:'#'
  },
  tableKay:{
    type:Array,
    required:true
  },
  list:{
    type:Array,
    required:true
  }
})

</script>
<template>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">{{ title }}</h1>
        <p v-if="desc" class="mt-2 text-sm text-gray-700">{{desc}}</p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <button @click.prevent="$emit('create')" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add</button>
      </div>
    </div>
    <div v-if="list && list.length > 0" class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
            <tr>
              <th v-for="(item,index) in tableKay" :key="index" scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 capitalize">
                {{ item.text }}
              </th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
            <tr v-for="item in list" :key="item.email">
              <td v-for="i in tableKay" class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                <template v-if="i.type === 'date'"> {{item[i.key]}} </template>
                <template v-else-if="i.type === 'user.name'">{{ item.user.name }}</template>
                <template v-else>{{ item[i.key] }}</template>
              </td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0 max-w-[136px]">
               <div class="flex items-center gap-[20px] max-w-[136px]">
                 <router-link to="#" @click="$emit('open', item.id)" class="text-indigo-600 hover:text-indigo-900">
                   <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-4">
                     <path strokeLinecap="round" strokeLinejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                   </svg>
                 </router-link>
                 <router-link to="#" @click="$emit('edit', item.id)" class="text-indigo-600 hover:text-indigo-900">
                   <svg width="32" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
                     <path strokeLinecap="round" strokeLinejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                   </svg>
                 </router-link>
                 <router-link to="#" @click="$emit('delete', item.id)" class="text-indigo-600 hover:text-indigo-900">
                   <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
                     <path strokeLinecap="round" strokeLinejoin="round" d="M6 18 18 6M6 6l12 12" />
                   </svg>
                 </router-link>

<!--                 <a href="#" class="text-indigo-600 hover:text-indigo-900">-->
<!--                   Edit-->
<!--                 </a>-->
               </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

