<script setup lang="ts">
import VHeader from "./components/layout/vHeader.vue";
</script>

<template>
  <v-header/>
  <div class="wrapper">
    <router-view/>
  </div>
</template>

<style scoped>

</style>
